$primary-color: #ffda0e;
$accent-color: #ff4500;
$text-color: #fff;
$second-text-color: #000;
$rem-size: 10px;
$nfts-bg: #02051d;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.6rem; // 16px
  color: $text-color;
}

.container {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 clamp(40px, 1.165px + 10.356vi, 200px); // 0 20px
}

.container-inner {
  margin: 0 auto;
  padding: 0 clamp(40px, 1.165px + 10.356vi, 200px); // 0 20px
}

.section {
  width: 100%;
  overflow: hidden;
}

#section-1 {
  position: relative;
  z-index: 1;
  background: url('../../public/images/bg1.png') no-repeat center center/cover;

  padding-top: clamp(1.6rem, 0.466px + 4.1424vi, 8rem);

  header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(19px, 0.5534px + 4.9191vi, 95px);
    background-color: $primary-color;
    height: clamp(42px, 1.2233px + 10.8738vi, 210px);
    padding-right: clamp(9px, 0.2621px + 2.3301vi, 45px);
    padding-left: clamp(40px, 1.165px + 10.356vi, 200px);
    gap: clamp(42px, 1.2233px + 10.8738vi, 210px);

    .logo {
      height: clamp(47px, 0.6408px + 12.3625vi, 238px);
      width: clamp(77px, 1.5146px + 20.1294vi, 388px);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    nav {
      height: fit-content;
      font-family: 'Inter', sans-serif;
      ul {
        display: flex;
        margin: 0;
        height: 100%;
        padding: 0;
        list-style: none;
        gap: clamp(8px, 0.233px + 2.0712vi, 40px); // 20px

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3rem;
          width: fit-content;
          padding: clamp(4px, 0.1165px + 1.0356vi, 20px);
          &.active {
            background-color: #ff0000;

            a {
              color: $text-color;
            }
          }
        }

        a {
          text-decoration: none;
          font-size: clamp(6px, 0.1748px + 1.5534vi, 30px);
          font-weight: bold;
          color: $second-text-color;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      z-index: -1;
      left: -99%;
      height: 100%;
      width: 100%;
      background-color: $primary-color;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      z-index: -1;
      right: -99%;
      height: 100%;
      width: 100%;
      background-color: $primary-color;
    }
  }

  .hero {
    position: relative;
    width: 100%;
    height: clamp(110px, 3.2039px + 28.479vi, 550px);
    background: url('../../public/images/bg-hero.png') no-repeat center center;
    background-size: cover;
    padding-left: clamp(16px, 0.466px + 4.1424vi, 80px);
    padding-right: 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: calc(-1 * clamp(5px, 0.1456px + 1.2945vi, 25px));
      right: 0;
      width: clamp(174px, 5.068px + 45.0485vi, 870px);
      height: clamp(132px, 3.8447px + 34.1748vi, 660px);
      background: url('../../public/images/hero-img.png') no-repeat center center;
      background-size: cover;
    }

    .hero-text {
      font-family: 'Brownista Regular';
      color: $second-text-color;
      display: flex;
      flex-direction: column;
      h1 {
        &:first-child {
          font-size: clamp(24px, 0.699px + 6.2136vi, 120px);
          font-weight: 500;
        }

        &:nth-child(2) {
          font-size: clamp(19px, 0.5534px + 4.9191vi, 95px);
          font-weight: 400;
          font-style: italic;
        }
      }
      p {
        font-size: clamp(6.6px, 0.1922px + 1.7087vi, 33px);
        padding-left: 1rem;
      }
    }

    .hero-image {
      width: clamp(174px, 5.068px + 45.0485vi, 870px);
      height: clamp(132px, 3.8447px + 34.1748vi, 660px);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .hero-contact {
    width: 100%;
    height: clamp(24px, 0.699px + 6.2136vi, 120px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Brownista Regular';
    gap: 10rem;

    h2 {
      font-size: clamp(6.6px, 0.1922px + 1.7087vi, 33px);
      color: $primary-color;
    }
  }

  .contract-add {
    width: 100%;
    height: clamp(12px, 0.3495px + 3.1068vi, 60px);
    padding-left: clamp(60px, 1.7476px + 15.534vi, 300px);
    background-color: $primary-color;
    display: flex;
    align-items: center;
    font-family: 'Brownista Regular';

    h2 {
      color: $second-text-color;
      font-weight: 400;
      font-size: clamp(6.6px, 0.1922px + 1.7087vi, 33px);
    }
  }

  .about {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;

    &-text {
      width: 65%;
      font-family: 'Brownista Regular';
      h1 {
        font-size: clamp(20px, 0.5825px + 5.178vi, 100px);
        color: $text-color;
        line-height: clamp(17px, 0.0097px + 4.5307vi, 87px);
        font-weight: 400;
      }
      h2 {
        font-size: clamp(20px, 0.5825px + 5.178vi, 100px);
        color: $primary-color;
        line-height: clamp(17px, 0.0097px + 4.5307vi, 87px);
        margin-bottom: clamp(12px, 0.3495px + 3.1068vi, 60px);
        font-weight: 400;
      }
      p {
        font-size: clamp(8px, 0.233px + 2.0712vi, 40px);
        font-weight: 400;
        color: $text-color;
      }
    }

    &-image {
      width: 35%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .team-history {
    width: 100%;
    height: clamp(110px, 3.2039px + 28.479vi, 550px);
    background: url('../../public/images/bg-team-history.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(4px, 0.1165px + 1.0356vi, 20px);

    &-image {
      height: 100%;
      aspect-ratio: 1/1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-text {
      font-family: 'Brownista Regular';
      h2 {
        font-size: clamp(20px, 0.5825px + 5.178vi, 100px);
        color: $second-text-color;
        line-height: clamp(17px, 0.0097px + 4.5307vi, 87px);
        font-weight: 400;
      }
      p {
        margin-top: clamp(8px, 0.233px + 2.0712vi, 40px);
        padding-left: 1rem;
        padding-right: clamp(16px, 0.466px + 4.1424vi, 80px);
        font-size: clamp(4.1px, -0.4874px + 1.2233vi, 23px);
        font-weight: 400;
        color: $second-text-color;
      }
    }
  }

  .contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 0.233px + 2.0712vi, 40px);
    padding-block: clamp(6px, 0.1748px + 1.5534vi, 30px);

    &-btn {
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

#section-2 {
  width: 100%;
  padding-block: clamp(10px, 0.2913px + 2.589vi, 50px);
  background-color: $nfts-bg;

  .nfts {
    font-family: 'Brownista Regular';
    h2 {
      font-size: clamp(20px, 0.5825px + 5.178vi, 100px);
      line-height: clamp(17px, 0.0097px + 4.5307vi, 87px);
      color: $primary-color;
      font-weight: 500;
      text-align: center;
      margin-bottom: clamp(8px, 0.233px + 2.0712vi, 40px);

      & span {
        color: $text-color;
      }
    }

    .nft-gallery {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: clamp(6px, 0.1748px + 1.5534vi, 30px);

      .nft-image {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// .buy-btn {
//   border: none;
//   border-radius: 0.5rem; // 5px
//   background: $accent-color;
//   padding: 1rem 2rem; // 10px 20px
//   color: $text-color;
//   cursor: pointer;
// }

// .social-links {
//   display: flex;
//   justify-content: center;
//   background: $nav-text-color;
//   padding: 2rem 0; // 20px 0
//   gap: 2rem; // 20px
// }

// .social-links a {
//   text-decoration: none;
//   color: $text-color;
// }

// .about,
// .team-history,
// .nfts,
// .memes {
//   padding: 5rem 2rem; // 50px 20px
//   text-align: center;
// }

// .about img,
// .team-history img,
// .nft-images img,
// .meme-images img {
//   margin: 2rem 0; // 20px 0
//   max-width: 30rem; // 300px
//   width: 100%;
// }

// .nft-images,
// .meme-images {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   gap: 1rem; // 10px
// }

// footer {
//   background: $primary-color;
//   padding: 2rem 0; // 20px 0
//   text-align: center;
// }

// footer img {
//   width: 10rem; // 100px
// }
